/* PALETA DE COLORES
023047 - azul oscuro
219ebc - celeste oscuro
8ecae6 - celeste claro
ffb703 - amarillo
fb8500 - naranja 
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
/*font-family: 'Montserrat', sans-serif;*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

/* MENÚ */
.header-flex {
    background-color: #023047;
    display: flex;
    flex-direction: column;
    align-items: center
    
}

.logo img{
    width: 120px;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.header-flex ul {  
    display: flex;
    list-style: none;
}

.header-flex li {
    margin: 0.5rem;
    font-size: 13px;
    margin-bottom: 1rem;
}

.header-flex a {
    color: antiquewhite;
    text-decoration: none;
}


/* BANNER INICIAL*/
.banner-hero {
    background-image: url(/recursos/imagenes/ZMB_banner-home.png);
    height: 30vh;
    background-size: cover;
}

.banner-hero {
    text-align: left;
    color: antiquewhite;
    padding: 2rem;
    padding-right: 30vw;
    position: relative;
    top: 50%;
}


/* DESCRIPCIÓN */
.texo-descripcion {
    text-align: center;
    padding: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.texo-descripcion p {
    margin-top: 1rem;
    font-size: 13px;
}

/* SERVICIOS */
.servicio {
    width: 50vw;
    text-align: center;
}

.servicio img {
    width: 40vw;
    margin-bottom: 0.5rem;
    filter: grayscale(90%);
}

.servicio p {
    font-size: 13px;
    margin-bottom: 2rem;
}

.subtitulo-color {
    background-color: #219ebc;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/* GRILLA DE SERVICIOS */
.servicios-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #219ebc;
    padding-bottom: 1rem;
    vertical-align: center;
}

.button {
    background-color: #219ebc;
    padding-bottom: 3rem;

}

.button-text {
    font-size: 15px;
    text-decoration: none;
    padding: 8px;
    border-color: none;
    margin-left: 40%;
    margin-right: 40%;    

}


/* CLIENTES */

.subtitulo {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 1rem;

}

.clientes-grid {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    padding-bottom: 4rem;
    padding: 0.5rem;
    vertical-align: center;
}

.clientes-grid img {
    width: 15vw;
    margin-bottom: 0.5rem;
}

/* FOOTER */
.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #023047;
    padding: 2rem;
    margin-top: 3rem;
}

.footer-text {
    color: antiquewhite;
    font-size: 11px;
    text-decoration: none;
    list-style: none;
}

.logo-footer img {
    width: 50px;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
 

/* IMÁGENES */
.img-logo-linkedin {
    width: 50px;
    margin: 2rem;
}

/* FORMULARIO */

form{
    margin: 2rem; 
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding: 2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(219, 218, 218);
}

@media (min-width: 768px)
{
    .header-flex {
        flex-direction: row;
        justify-content: space-around;
    }
    .header-flex li {
        margin: 1rem;
        font-size: 16px;
    }
 
    .banner-hero {
        height: 70vh;
    }
    
    .banner-hero {
        padding: 20vh;
        padding-right: 40%;
        font-size:larger;
    }
 
    .texo-descripcion {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    
    .texo-descripcion p {
        margin-top: 1rem;
        padding-left: 15vh;
        padding-right: 15vh;
        font-size: 16px;
    }
 
    .servicio {
        width: 20vw;
    }
    
    .servicio img {
        width: 15vw;
        margin-bottom: 1rem;
    }
    
    .servicio p {
        font-size: 16px;
    }
    
    .servicios-grid {
        grid-template-columns: repeat(4, 1fr);    
        padding-bottom: 5rem;
        padding-left: 15vh;
        padding-right: 15vh;
    }
    
 
.subtitulo {
    padding-top: 4rem;
    padding-bottom: 2rem;

}
.clientes-grid {
    padding-left: 15vh;
    padding-right: 15vh;

}

.clientes-grid img {
    width: 8vw;
    margin-bottom: 1.5rem;
    align-content: center;
}   

.footer{
    padding-left: 15vh;
    padding-right: 15vh;
}
.footer-text {
    font-size: 14px;
}

.logo-footer img {
    width: 80px;
}


}