* {
    margin: 0;
    padding: 0;
}


/* MENÚ */

.img-logo-menu {
    width: 80px;

}

ul {
    list-style: none;
    margin: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.menu-general {
    background-color: rgb(222, 222, 222);
    color: black;
    text-decoration: none;
    font-size: 16px;
    margin: 2rem;
    padding: 1rem;
}

.menu-seleccion {
    background-color: rgb(189, 199, 204);
    color: darkslategrey;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    margin: 2rem;
    padding: 1rem;
}

.flex-container{
    display: flex;justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    border-bottom: 1px rgb(52, 51, 51) solid;   
}

/* TÍTULOS Y TEXTOS */

h1 {
    color: darkslategray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 2rem;
}

h3 {
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 2rem;
}

h4 {
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    margin: 2rem;
}

p{
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 2rem;
}

div {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 2rem;
    font-weight: bold;
}

.boton{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    background-color: darkslategrey;
    color: rgb(222, 222, 222);
    font-weight: bold;
    margin: 2rem;
}

/* IMÁGENES */
.img-logo-linkedin {
    width: 50px;
    margin: 2rem;
}

/* FORMULARIO */

form{
    margin: 2rem; 
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding: 2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(219, 218, 218);
}